<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<div>
    <ul>
                   
        <% for (let i of contact_list) { %> 
            
            <li>
                <p><%= i.ismeMeraData %></p>
                <p> <%= i.taarekhPeTaarekh %></p>
                <p><%= i.choice %></p>
            
            </li>
            
      
    </ul>
</div>
<div class="delete-button">
    <a href="/delete-contact/?id=<%= i.id %>">
        delete
    </a>
    
    
    <% } %>

    
    
    <form action="/detail" method="POST">
    <input type="text" name="textOne" placeholder="your name">
    <input type="date" name = "Dat" >
    <select name="choose">
        <option>personal</option>
      <option> <li>professional</li></select></option>
    </select>
<button type="submit">Submit</button></form>
</body>
</html>
